[submodule "engines/Odyssey"]
	path = engines/Odyssey
	url = https://github.com/Yotlan/Odyssey.git
[submodule "engines/CostFed"]
	path = engines/CostFed
	url = https://github.com/Yotlan/CostFed.git
[submodule "engines/SPLENDID"]
	path = engines/SPLENDID
	url = https://github.com/Yotlan/SPLENDID.git
[submodule "generators/watdiv"]
	path = generators/watdiv
	url = https://github.com/mhoangvslev/watdiv.git
	branch = bsbm
[submodule "engines/CostFed-FU"]
	path = engines/CostFed-FU
	url = https://github.com/Yotlan/CostFed.git
	branch = force-update
[submodule "engines/FedX"]
	path = engines/FedX
	url = https://github.com/Yotlan/FedX.git
	branch = master
[submodule "engines/semagrow"]
	path = engines/semagrow
	url = https://github.com/Yotlan/semagrow.git
	branch = master
[submodule "engines/FedX-RWSS"]
	path = engines/FedX-RWSS
	url = https://github.com/Yotlan/FedX.git
	branch = RWSS
