[submodule "engines/Odyssey"]
	path = engines/Odyssey
	url = https://github.com/Yotlan/Odyssey.git
[submodule "engines/CostFed"]
	path = engines/CostFed
	url = https://github.com/Yotlan/CostFed.git
[submodule "engines/SPLENDID"]
	path = engines/SPLENDID
	url = https://github.com/Yotlan/SPLENDID.git
	branch = maven
[submodule "generators/watdiv"]
	path = generators/watdiv
	url = https://github.com/mhoangvslev/watdiv.git
	branch = bsbm
[submodule "engines/FedX"]
	path = engines/FedX
	url = https://github.com/Yotlan/FedX.git
	branch = master
[submodule "engines/ANAPSID"]
	path = engines/ANAPSID
	url = https://github.com/mhoangvslev/ANAPSID.git
	branch = master
[submodule "engines/semagrow/sevod-scraper"]
	path = engines/semagrow/sevod-scraper
	url = https://github.com/mhoangvslev/sevod-scraper.git
	branch = master
[submodule "engines/semagrow/semagrow"]
	path = engines/semagrow/semagrow
	url = https://github.com/Yotlan/semagrow
	branch = master
[submodule "rsfb/proxy/FedShop-proxy"]
	path = rsfb/proxy/FedShop-proxy
	url = https://github.com/mhoangvslev/FedShop-proxy
	branch = main
[submodule "engines/FedUP-experiments"]
	path = engines/FedUP-experiments
	url = https://github.com/GDD-Nantes/FedUP-experiments.git
	branch = main
